{% extends "base.html" %}

{% block title %}User Login{% endblock %}
{% block head %}{% endblock %}

{% block content %}

  <form class="form-signin" role="form" action="." method="post">
    {% csrf_token %}
    <h2 class="form-signin-heading">Login</h2>
    <hr>
    <div class="form-group row">
      <label class="col-sm-1 control-label">Username</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Username" id="id_username" maxlength="8" name="username" required autofocus>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-1 control-label">Password</label>
      <div class="col-sm-4">
        <input id="id_password" name="password" type="password" class="form-control" placeholder="Password" required>
      </div>
    </div>

    <input type="hidden" name="next" value="/" />
    <!--input type="submit" value="login" /-->

    <div class="form-group row">
        <div class="col-sm-offset-1 col-sm-4">
          <button class="btn btn-primary" type="submit">Sign in</button>
        </div>
    </div>

  </form>

  <hr>

{% endblock %}
