{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Order VM{% endblock %}
{% block head %}{% endblock %}

{% block content %}

    <h3>Order VM</h3>
    <hr>
    <script type="text/javascript"
     src="{{ STATIC_URL }}js/bootstrap-datetimepicker.js">
    </script>
    <script type="text/javascript"
     src="{{ STATIC_URL }}js/bootstrap-datetimepicker.js">
    </script>

    {{ form.media }}

<form  role="form" class="form-horizontal" method="post" action=".">
    {% csrf_token %}
	
    {% bootstrap_form form layout="horizontal" %}

    {% buttons submit='Submit' reset='Cancel' layout='horizontal' %}{% endbuttons %}
</form>

    <hr>

{% endblock %}
